In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import re

from usefulfunctions.functions import describedf, StringAnalyzer, WebSiteListAnalyser

In [ ]:
string = "194.214.100.224:8090"
string_split = re.split(r"[.:/-_]", string)
all([i.isnumeric() for i in string_split])

In [ ]:
string = "194.214.100.224:8090"
string_split = re.split(r"[.:/-]", string)
len(string_split)Â²

In [ ]:
re.findall('\.', string)

In [ ]:
string_split

In [38]:
regexp = re.compile(r'\D+\d+|\d+\D+')
any([regexp.match(res) for res in ['aa','200','a10','10a']])

# [re.findall(r'\D+\d+|\d+\D+',res) for res in ['aa','200','a10','10a']]

False

In [6]:
sa = StringAnalyzer("194.214.g1.224:8090")
sa.is_ip()
sa.nword()
sa.extension()
sa.ndot()
sa.bothnumsandwords()
sa.synthetise()

is ip? False
n word is: 5
extension is: 224:8090
n dot is: 3
contains both nums and words: True

[False, 5, '224:8090', 3, True]

In [3]:
sa.listofwords()

list of words is: ['194', '214', '100', '224', '8090']

['194', '214', '100', '224', '8090']

In [7]:
df=pd.read_csv("data\\urls.csv")
dfshort=df.iloc[0:20,:]
describedf(dfshort)

shape is nrow:20 and ncol:1

                      url
0             10times.com
1    194.214.100.224:8090
2  1951.polytechnique.org
3              1sthcc.com
4      1xtechnologies.com

type of col:url is:object

In [8]:
wl = WebSiteListAnalyser(weblist=dfshort.url.values)

In [9]:
wl.featuring()

    is_ip nword extension ndot bothnumsandwords
0   False     2       com    1             True
1    True     5      None    3            False
2   False     3       org    2            False
3   False     2       com    1             True
4   False     2       com    1             True
5   False     2       com    1             True
6   False     2       net    1             True
7   False     2       com    1             True
8   False     2       com    1             True
9   False     2       com    1             True
10  False     3        fr    2             True
11  False     2       org    1             True
12  False     4       org    2            False
13  False     4       org    2            False
14  False     3       com    2            False
15  False     2        fr    1             True
16  False     4        fr    3             True
17  False     3        fr    2             True
18  False     6       com    3            False
19  False     3        lu    2            False

In [10]:
wl.wordslist()

                              list_of_words
0                            [10times, com]
1                [194, 214, 100, 224, 8090]
2                [1951, polytechnique, org]
3                             [1sthcc, com]
4                     [1xtechnologies, com]
5                            [2020ndt, com]
6                        [224business, net]
7                        [360learning, com]
8                   [3dmodularsystems, com]
9                            [3dshoes, com]
10                        [3m, loreval, fr]
11                            [3wnews, org]
12               [52, force, ouvriere, org]
13               [53, force, ouvriere, org]
14                      [94, citoyens, com]
15                          [99designs, fr]
16                   [a06, apps, paris, fr]
17                      [a190754, free, fr]
18  [aa, boschap, fr, resource, bosch, com]
19                        [aaa, public, lu]