In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import re

from featuring.functions import describedf, StringAnalyzer, WebSiteListAnalyser

In [ ]:
string = "194.214.100.224:8090"
string_split = re.split(r"[.:/-_]", string)
all([i.isnumeric() for i in string_split])

In [ ]:
string = "194.214.100.224:8090"
string_split = re.split(r"[.:/-]", string)
len(string_split)Â²

In [ ]:
re.findall('\.', string)

In [ ]:
string_split

In [38]:
regexp = re.compile(r'\D+\d+|\d+\D+')
any([regexp.match(res) for res in ['aa','200','a10','10a']])

# [re.findall(r'\D+\d+|\d+\D+',res) for res in ['aa','200','a10','10a']]

False

In [2]:
sa = StringAnalyzer("194.214.g1.224:8090")
sa.is_ip()
sa.nword()
sa.extension()
sa.ndot()
sa.bothnumsandwords()
sa.synthetise()

is ip? False
n word is: 5
extension is: 224:8090
n dot is: 3
contains both nums and words: True

[False, 5, '224:8090', 3, True]

In [7]:
sa.listofwords()

list of words is: ['194', '214', 'g1', '224', '8090']

['194', '214', 'g1', '224', '8090']

In [8]:
sa.words

['194', '214', 'g1', '224', '8090']

In [9]:
sa = StringAnalyzer("www.194.214.g1.224:8090")
sa.is_ip()
sa.nword()
sa.extension()
sa.ndot()
sa.bothnumsandwords()
sa.synthetise()

is ip? False
n word is: 6
extension is: 224:8090
n dot is: 4
contains both nums and words: True

[False, 6, '224:8090', 4, True]

In [10]:
sa.listofwords()
sa.words

list of words is: ['www', '194', '214', 'g1', '224', '8090']

['www', '194', '214', 'g1', '224', '8090']

In [11]:
sa.remove_www()

removing www.

'194.214.g1.224:8090'

In [2]:
df=pd.read_csv("data\\urls.csv")
dfshort=df.iloc[0:20,:]
describedf(dfshort)

shape is nrow:20 and ncol:1

                      url
0             10times.com
1    194.214.100.224:8090
2  1951.polytechnique.org
3              1sthcc.com
4      1xtechnologies.com

type of col:url is:object

In [3]:
wl = WebSiteListAnalyser(weblist=dfshort.url.values)

In [4]:
wl.featuring()

C:\Users\xavier\Documents\Prosper\usefulfunctions\functions.py:51: UserWarning: extension is not available for IP
  warnings.warn('extension is not available for IP')

    is_ip  nword extension  ndot bothnumsandwords
0   False      2       com     1             True
1    True      5      None     3            False
2   False      3       org     2            False
3   False      2       com     1             True
4   False      2       com     1             True
5   False      2       com     1             True
6   False      2       net     1             True
7   False      2       com     1             True
8   False      2       com     1             True
9   False      2       com     1             True
10  False      3        fr     2             True
11  False      2       org     1             True
12  False      4       org     2            False
13  False      4       org     2            False
14  False      3       com     2            False
15  False      2        fr     1             True
16  False      4        fr     3             True
17  False      3        fr     2             True
18  False      6       com     3            False
19  False      3        lu     2            False

In [5]:
wl.wordslist()

                              list_of_words
0                            [10times, com]
1                [194, 214, 100, 224, 8090]
2                [1951, polytechnique, org]
3                             [1sthcc, com]
4                     [1xtechnologies, com]
5                            [2020ndt, com]
6                        [224business, net]
7                        [360learning, com]
8                   [3dmodularsystems, com]
9                            [3dshoes, com]
10                        [3m, loreval, fr]
11                            [3wnews, org]
12               [52, force, ouvriere, org]
13               [53, force, ouvriere, org]
14                      [94, citoyens, com]
15                          [99designs, fr]
16                   [a06, apps, paris, fr]
17                      [a190754, free, fr]
18  [aa, boschap, fr, resource, bosch, com]
19                        [aaa, public, lu]

In [8]:
wl.remove_all_www()
wl.weblist

removing www

['10times.com',
 '194.214.100.224:8090',
 '1951.polytechnique.org',
 '1sthcc.com',
 '1xtechnologies.com',
 '2020ndt.com',
 '224business.net',
 '360learning.com',
 '3dmodularsystems.com',
 '3dshoes.com',
 '3m.loreval.fr',
 '3wnews.org',
 '52.force-ouvriere.org',
 '53.force-ouvriere.org',
 '94.citoyens.com',
 '99designs.fr',
 'a06.apps.paris.fr',
 'a190754.free.fr',
 'aa-boschap-fr.resource.bosch.com',
 'aaa.public.lu']

In [12]:
df=pd.read_csv("data\\prop_wiki.csv")
describedf(df,4)

shape is nrow:8654 and ncol:4

                      url            label wiki_link  siren_number
0             amatrol.com  Not Interesting       NaN           NaN
1         antsolutions.eu              New       NaN           NaN
2  ardel.reifenhauser.com              New       NaN           NaN
3           bio-sonix.com              New       NaN           NaN
4       blog.datumbox.com  Not Interesting       NaN           NaN

type of col:url is:object

type of col:label is:object

type of col:wiki_link is:object

type of col:siren_number is:float64

In [13]:
dfshort=df.iloc[1100:1110,:]
describedf(dfshort)

shape is nrow:10 and ncol:4

                              url label  \
1100  www.agilitymultichannel.com   New
1101                   www.aha.io   New
1102           www.airbiquity.com   New
1103             www.alfresco.com   New
1104  www.amadeus-hospitality.com   New

                                         wiki_link  siren_number
1100                                           NaN           NaN
1101  https://en.wikipedia.org/wiki/Aha!_(company)           NaN
1102                                           NaN           NaN
1103                                           NaN           NaN
1104                                           NaN           NaN

type of col:url is:object

In [14]:
wl = WebSiteListAnalyser(weblist=dfshort.url.values)
wl.featuring()

   is_ip  nword extension  ndot bothnumsandwords
0  False      3       com     2            False
1  False      3        io     2            False
2  False      3       com     2            False
3  False      3       com     2            False
4  False      4       com     2            False
5  False      3       com     2            False
6  False      3       com     2            False
7  False      3       com     2            False
8  False      3       com     2            False
9  False      3       com     2            False

In [15]:
wl.wordslist()

                      list_of_words
0   [www, agilitymultichannel, com]
1                    [www, aha, io]
2            [www, airbiquity, com]
3              [www, alfresco, com]
4  [www, amadeus, hospitality, com]
5                [www, ambest, com]
6          [www, anjusoftware, com]
7                [www, arcweb, com]
8                [www, aspect, com]
9                  [www, asti, com]

In [20]:
wl.remove_all_www()
wl.weblist

removing www

['agilitymultichannel.com',
 'aha.io',
 'airbiquity.com',
 'alfresco.com',
 'amadeus-hospitality.com',
 'ambest.com',
 'anjusoftware.com',
 'arcweb.com',
 'aspect.com',
 'asti.com']

In [21]:
wl.featuring()

   is_ip  nword extension  ndot bothnumsandwords
0  False      2       com     1            False
1  False      2        io     1            False
2  False      2       com     1            False
3  False      2       com     1            False
4  False      3       com     1            False
5  False      2       com     1            False
6  False      2       com     1            False
7  False      2       com     1            False
8  False      2       com     1            False
9  False      2       com     1            False

In [22]:
wl.wordslist()

                 list_of_words
0   [agilitymultichannel, com]
1                    [aha, io]
2            [airbiquity, com]
3              [alfresco, com]
4  [amadeus, hospitality, com]
5                [ambest, com]
6          [anjusoftware, com]
7                [arcweb, com]
8                [aspect, com]
9                  [asti, com]